<header>
  <h1 id="nombreEmpresa">Empresa X</h1>
  <h2>Nuevo Ingreso</h2>
</header>
<section>
  <!--Inicio de formulario usando FORM-->
  <form id="formularioTrabajador">
    <div>
      <label>Nombres:</label>
      <input type="text" name="nombre" placeholder='Ingrese los nombres' maxlength="24">
      </tr>
    </div>
    <div>
      <label>Apellidos:</label>
      <input type="text" name="apellido" placeholder='Ingrese los apellidos' maxlength="24">
    </div>
    <div>
      <label>Cedula:</label>
      <input type="text" name="cedula" placeholder="Ingrese el numero de cedula" maxlength="14">
    </div>
    <div>
      <label>Fecha de ingreso:</label>
      <input type="date" name="fechaDeContratacion">
    </div>
    <div>
      <label>Cargo:</label>
      <select id="cargos" name="idCargo">
        {{#each cargo}}
        <option value="{{idCargo}}">{{nombre}}</option>
        {{/each }}
      </select>
    </div>
    <label>Salario Base:</label>
    <input type="number" step="any" name="salario" placeholder="Salario" max="1000000">
    <input type="radio" name="salarioPorHora" value="true">Salario por Hora</input> </div>
    <div>
      <label>Fecha Pago:</label>
      <select id="fechaPagos" name="idDiaPago">
        {{#each diaPago}}
        <option value="{{idDiaDePago}}">{{diaPago}}</option>
        {{/each }}
      </select>
    </div>
    <div>
      <label>Frecuencia de Pago</label>
      <select id="frecuenciaPago" name="idFrecuenciaDePago">
        {{#each frecuenciaDePago}}
        <option value="{{idFrecuenciaDePago}}">{{nombre}}</option>
        {{/each}}
      </select>
    </div>
    <br />
    <input type="submit" name='submit' value='Ingresar'>
</section>

</form>

<footer>

</footer>
<script src="./assets/js/agregarTrabajadores.js"> </script>