<head>
    <title>Nomina</title>
</head>
<style>
    .container {
        border: 3px dotted #000;
        padding: 20px;
        margin: 20px;
    }

    #period {
        text-align: center !important;
    }

    .container>.row {
        border-bottom: 1px dotted coral;
    }
</style>

{{#each dato }}
<div class="container mx-auto">
    <div class="card mx-auto" style="width: 50%">
        <header id="name">
            <h2 class="display-4" style="font-size: 40px">Empresa X</h2>
            <h2 class="display-4" style="font-size: 35px">Nomina</h2>
        </header>
        <div class="card-text" id="period">
            <h6 class="card-subtitle mb-2 text-muted">Impreso al dia {{date fechaDeEmision}}</h6>
            <h6 class="card-subtitle mb-2 text-muted"> Periodo del {{date inicioPeriodo}} al {{date finPeriodo}}</h6>
        </div>
    </div>
    <div class="row mx-auto" style="width: 50%">
        <div class="col">
            <div class="col" style="text-align:center !important">
                <h6>Datos generales del trabajador</h6>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <b>Nombres:</b> {{nombre}}
                </div>
                <div class="col-sm-6">
                    <b>Apellidos: </b>{{apellido}}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <b>Cedula:</b> {{cedula}}
                </div>
                <div class="col-sm-6">
                    <b>Cargo: </b>{{cargo}}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col" style="text-align: center !important">
            <b>Salario base: </b>{{salario}}
        </div>
    </div>
    <div class="row">
        <div class="col" style="text-align: center !important">
            <b>Salario Pagado: </b>{{salarioPagado}}
        </div>
    </div>
    <br>
    <div class="col" style="text-align:center !important">
        <h6>Ingresos No Fijos</h6>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <b>Horas Extras:</b> {{pagoHorasExtras}}
        </div>
        <div class="col-sm-3">
            <b>Viatico: </b>{{viatico}}
        </div>
        <div class="col-sm-3">
            <b>Bono: </b>{{incentivo}}
        </div>
        <div class="col-sm-3">
            <b>Total: </b>{{totalIngresos}}
        </div>
    </div>
    <br>
    <div class="col" style="text-align:center !important">
        <h6>Deducciones</h6>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <b>IR: </b>{{IR}}
        </div>
        <div class="col-sm-3">
            <b>INSS: </b>{{inss}}
        </div>
        <div class="col-sm-3">

        </div>
        <div class="col-sm-3">
            <b>Total: </b>{{totalDeducciones}}
        </div>
    </div>
    <br>
    <div class="col-sm-11" style="text-align:right  !important">
        <b>Total Pagado:</b> {{ sum salarioPagado totalIngresos totalDeducciones}}
    </div>


</div>


{{/each}}